@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Rubik+Gemstones&family=Sanchez:ital@0;1&display=swap');

body {
  height: 100%;
  margin: 0;
  background-color: #62e8ff;
}

.flex-container {
  display: flex;
}

header {
  padding-top: 10px;
}

h1 {
  margin: 0;
  text-align: center;
  color: #12126d;
  font-family: "Rubik Gemstones";
}

.navbar .breakingNewsButton {
  background: var(--primary);
  border: 0;
  color: #12126d;
  background-color: ffff; 
  font-family: "Sanchez";
  size: 200px;
  border-radius: 4px;
  padding: 10px;
  cursor: pointer;
}

.navbar .resourcesButton {
  background: var(--primary);
  border: 0;
  color: #12126d;
  background-color: ffff; 
  padding: 10px;
  font-family: "Sanchez";
  size: 200px;
  border-radius: 4px;
  position: center;
  cursor: pointer;
}

.navbar ul {
  list-style-type: none;
  margin: 0;
}

.map-wrapper {
  width: 80%;
  fill:#0e652b;
  position: relative;
  cursor: url(newMouse.png), auto;
  outline: none;
}

.sidebar-wrapper {
  background-color: #ffc47d; 
  width: 20%;
  position: relative;
  float: left;
  font-family: "Sanchez";
  font-size: 0.9em;
  color: #12126d;
  margin-left: 8px;
  margin-bottom: 8px;
  padding: 1em;
  border-radius: 25px;
  padding-left: 40px
}

.footer {
  color: #12126d;
  font-family: "Sanchez";
  font-size: 15px;
  border-radius: 4px;
  padding: 10px;
  text-align: center;
}

#countryOrContinentButton {
  background: #ffc47d;
  color: #12126d; 
  padding: 7px;
  margin-right: 10px;
  font-family: "Sanchez";
  size: 200px;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}
  