@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200&family=Rubik+Gemstones&family=Sanchez:ital@0;1&display=swap');


* {
  background-color: #20a3d9; 
}

.map {
  margin: 0;
  fill: #23cf8c;
}

.title {
  font-family: "Raleway";
  align-items: center;
  font-size: 0.9em;
}